:root {
    --primary-color:#EEE9DA; /* beige or eggshell or whatever it is */
    --secondary-color:#6096B4; /* "dark" blue */
    --tertiary-color:#93BFCF; /* light blue */
    --trim-color:#BDCDD6; /* cool gray */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
